.comments-header {
    background-color: #f8f9fa;
}

.comments-header-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.comments-header-container p {
    margin: 0;
    font-size: 20px;
}

.comments-header-container span {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 11px;
    color: #bcbcbc;
}

.user-container {
    display: flex;
    align-items: center;
}