.comment-container {
    margin-bottom: 10px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.comment-container > p {
    width: 84%;
}

.comment-name {
    display: flex;
    justify-content: space-between;
}

.comment-name p {
    font-weight: bold;
}

.edit-field {
    width: 80%;
    height: 100px;
}

.save-container, .edit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.edit-container p {
    margin: 0;
    padding: 0;
}

.save-btn, .edit-btn {
    padding: 10px 20px;
}

.likes-container {
    text-align: right;
}