.header-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

i {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s all ease;
}

i:hover {
    color: #fff;
}

.left-menu i:first-child{
    margin: 0;
}

.active {
    color: #ffffff;
}

.sub-header {
    height: 240px;
    background-color: #82d1ff;
}