.comments-footer-container {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comments-footer-container input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
}

.send-btn {
    text-transform: uppercase;
    padding: 10px 30px;
}